[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymdown-extensions = "*"
mkdocs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocs-pymdownx-material-extras = "*"

[dev-packages]

[requires]
python_version = "3.10"
